# Ignore node_modules folder
node_modules/

# Ignore build output directories
build/
dist/

# Ignore OS-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore Tableau backup files
*.bak
*.swp
*.tmp
